*{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:root{
  background-color: #F9EAFF;
  pad: 2px;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 20px;
  padding: 10px;
}
::-webkit-scrollbar-track {
  background: none; 
}
::-webkit-scrollbar-thumb {
  background: #9999; 
  border-radius: 12px;
  padding: 10px;
  background-clip: content-box;
  border: 5px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 12px;
  padding: 10px;
  background-clip: content-box;
  border: 5px solid transparent;
}

.caret{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.header{
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
}

.header img{
  width: 175px;
  height: 175px;
}

.titulo {
  padding: 30px 30px 0;
  display: flex;
  justify-content: space-between;
  color: black;
}
.titulo h1{
  text-align: center;
  font-weight: 400;
  font-size: 50pt;
}

.page{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
  margin: 20px;
}

.assuntos{
  background-color: #662d90;
  height: 40px;
  margin: 30px;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.assuntos button{
  background-color: #662d90;
  border: none;
  color: #ffffff;
  margin: 0;
  user-select: none;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: bold;
  border-radius: 9px 9px 0 0;
  padding: 10px;
 
}

.dropdown-lista {
  text-decoration: none;
  border-radius: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10.9rem;
}
.dropdown-lista li{
  border: 1px solid black;
  background-color: #662d90;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    background-color: #754a94;
  }
}


.sumario{
  user-select: none;
  display: flex;
  flex-direction: column;
  width: auto;
  height: fit-content ;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 2px 12px 1px rgba(0, 0, 0, 0.2);
}
.sumario-titulo{
  font-size: 16pt;
  padding-bottom: 10px;
}
.sumario a{
  text-align: left;
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
}

.anuncios{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.anuncios img{
  width: 190px;
  border-radius: 5px;
}

.content{
  background-color: #ffffff;
  padding: 43px;
  border-radius: 5px;
  align-self: center;
  width: 56%;
  height: auto;
  box-shadow: 4px 2px 12px 1px rgba(0, 0, 0, 0.2);
}

.tema{
  color: #212529;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 30pt;
  border-bottom: 2px solid #662d90;
  user-select: none;
}

.texto {
  text-align:left;
  justify-content: center;
  text-indent: 30px;
  font-size: 15pt;
  color: #212529;
  margin-top: 20px;
  font-weight: lighter;
}
.texto p{
  margin-bottom: 20px;
  margin-top: 30px;
}
.texto h1{
  font-size: 20pt;
  text-indent: 0;
  color: #662d91;
}

.imagem-esquerda{
  display: block;
  width: 45%;
  margin: 20px;
  float: left;
  border-radius: 10px;
  margin-bottom: 80px;
}

.imagem-grande{
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 50px;
}

.imagem-direita{
  display: block;
  width: 45%;
  margin: 30px;
  float: right;
  border-radius: 10px;
  margin-bottom: 60px;
}
